.container {
    background-color: rgb(169, 224, 248);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    margin: 50px auto;
}
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
.search-box {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-btn {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #0c1116;
    color: white;
    border: none;
    border-radius: 4px;
}

.weather-info p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

#weather-icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

#search-btn:hover {
    background-color: #0056b3;
}
.weather-info {
    background-color: #b8dbff; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 300px; 
    margin: 0 auto;
}
#temperature {
    font-size: 36px; 
    color: #333; 
    margin-bottom: 10px; 
    font-weight: bold; 
}
#weather-description {
    font-size: 18px; 
    color: #666; 
    margin-bottom: 20px;
    font-style: italic; 
}
#city-name {
    font-size: 24px; 
    font-weight: bold; 
    color: #007BFF; 
    margin-bottom: 10px; 
}

@media (max-width: 600px) {
    .container {
    width: 100%;
    margin: 20px;
    }
    #city-input {
    width: calc(100% - 20px);
    }
    #search-btn {
    width: 100%;
    margin-top: 10px;
    }
}
